* {
  font-family: "Charter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root, html, body{
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.container{
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('images/adviceImage.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.text{
  font-size: 3rem;
  margin: 0rem 4rem;
}

.btn{
  background-color: black;
  color: white;
  border-style: hidden;
  padding: 1rem;
  margin-top: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}